.footer {
  box-sizing: border-box;
  border: 2px solid red;
  position: fixed;
  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
}
.footer li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  flex: 1;
}
.footer li i {
  color: #7e7e7e;
}
